= render 'layouts/header'
= render "users/top_column"

.s_main
  .s_wrapper
    .s_left-side
      = render "users/mypage_sidebar"
    .s_right-side.s_confirmation_height
      = render 'confirmation'

= render 'layouts/footer'
= render 'layouts/sell-btn'