.s_content
  %section.s_content__mypage
    %h2.s_content__mypage__head 
      本人情報の登録
    %form.s_content__mypage__single-inner{action: "#",method: "#", novalidate: ""}
      %div
        %p
          お客さまの本人情報をご登録ください。
          %br
          登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。

        %p.s_content__mypage__single-inner__textright
          =link_to "#" do
            本人確認書類のアップロードについて
            %i
              = fa_icon 'chevron-right', class:'s_content__mypage__single-inner--textright-icon'

        = form_for user do |f|
          .s_content__mypage__single-inner__form-group
            %label 
              お名前 
            %p 
              = user.lastname
              = user.firstname

          .s_content__mypage__single-inner__form-group
            %label 
              お名前カナ
            %p
              = user.lastname_kana
              = user.firstname_kana

          .s_content__mypage__single-inner__form-group
            %label{for: "birthday"}
              生年月日
            %p
              = user.birthday.strftime('%Y/%m/%d')

          .s_content__mypage__single-inner__form-group
            = f.fields_for :address do |i|
              .k_su_section4__inner--form3
                .k_su_section4__inner--form3-label
                  郵便番号
                .k_su_section4__inner--form3-span
                  必須
                = i.text_field :postal_code, class: "k_su_section4__inner--form3-input k_form", placeholder: "例）123-4567"
                
              .k_su_section4__inner--form3
                .k_su_section4__inner--form3-label
                  都道府県
                .k_su_section4__inner--form3-span
                  必須
                = i.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: '---'}
                
              .k_su_section4__inner--form3
                .k_su_section4__inner--form3-label
                  市区町村
                .k_su_section4__inner--form3-span
                  必須
                = i.text_field :city, class: "k_su_section4__inner--form3-input", placeholder: "例）横浜市緑区"
              
              .k_su_section4__inner--form3
                .k_su_section4__inner--form3-label
                  番地
                .k_su_section4__inner--form3-span
                  必須
                = i.text_field :address_number, class: "k_su_section4__inner--form3-input", placeholder: "例）青山1-1-1"
      
              .k_su_section4__inner--form4
                .k_su_section4__inner--form4-label
                  建物名
                .k_su_section4__inner--form4-span
                  任意
                = i.text_field :building_name, class: "k_su_section4__inner--form4-input", placeholder: "例）柳ビル103"

          = f.submit '登録する', class: 'k_su_section4__inner--form5-input-btn'

        
        .s_content__mypage__single-inner__textright
          %p 
            =link_to "#" do
              本人情報の登録について
              %i.s_content__mypage__single-inner__textright
                = fa_icon 'chevron-right', class:'s_content__mypage__single-inner--textright-icon'