
.n_side
  %nav.n_side_bar
    %ul.n_side_bar__mypage
      %li.n_side_bar__mypage__list.top
        .n_side_bar__mypage__list__parent
          = link_to "マイページ", user_path(1), class: "n_side_bar__mypage__list__parent__side_toplink" 
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__ficon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "お知らせ", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "やることリスト", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "いいね！一覧", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "出品する", new_item_path, class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "出品した商品 - 出品中", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "出品した商品 - 取引中", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "出品した商品 - 売却済み", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "購入した商品 - 取引中", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "購入した商品 - 過去の取引", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "ニュース一覧", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "評価一覧", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "ガイド", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "お問い合わせ", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"

    %h3.n_side_bar__head
      メルペイ
    %ul.n_side_bar__mypage
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "売上・振込申請", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "ポイント", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"

    %h3.n_side_bar__head
      設定
    %ul.n_side_bar__mypage
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "プロフィール", edit_registration_path(1), class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "発送元・お届け先住所変更", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "支払い方法", new_credit_path, class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "メール/パスワード", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "本人情報", edit_user_path(1), class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "電話番号の確認", "#", class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"
      %li.n_side_bar__mypage__list
        .n_side_bar__mypage__list__parent
          = link_to "ログアウト", logout_user_path(1), class: "n_side_bar__mypage__list__parent__side_link"
          = fa_icon "chevron-right", class: "n_side_bar__mypage__list__parent__icon"