.n_mypage_center
  %seciton.n_mypage_center__user_icon
    = link_to "", "https://www.yahoo.co.jp/", class: "n_mypage_center__user_icon__link"
    %img.n_mypage_center__user_icon__avater{src:"https://static.mercdn.net/images/member_photo_noimage_thumb.png"}
    .n_mypage_center__user_icon__name
      user_name
      %ul.n_mypage_center__user_icon__name__list
        %li.n_mypage_center__user_icon__name__list__column
          評価
          %span.n_mypage_center__user_icon__name__list__column__number
            0
        %li.n_mypage_center__user_icon__name__list__column
          出品数
          %span.n_mypage_center__user_icon__name__list__column__number
            1
  %section.n_notification
    %ul.n_notification__tags
      %li.n_notification__tags__tag.line
        お知らせ
      %li.n_notification__tags__tag.color
        やることリスト
    %ul.n_notification__contents
      %li.n_notification__contents__content
        %img.n_notification__contents__content__m_icon{src:"https://static.mercdn.net/images/mercari_profile.png"}
        .n_notification__contents__content__body
          .n_notification__contents__content__body__text
            testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest
            .n_time
              %time.n_time__t_icon
                = fa_icon "clock-o", class: "n_watch_icon"
              %span.n_time__time
                1時間前
        .n_notification__contents__content__arrow_right
          = fa_icon "chevron-right", class: ".n_notification__contents__content__arrow_right__icon"
      %li.n_notification__contents__content
        %img.n_notification__contents__content__m_icon{src:"https://static.mercdn.net/images/mercari_profile.png"}
        .n_notification__contents__content__body
          .n_notification__contents__content__body__text
            ああああああああああああああああああああああああああああああああああああああああああああああ
            .n_time
              %time.n_time__t_icon
                = fa_icon "clock-o", class: "n_watch_icon"
              %span.n_time__time
                1時間前
        .n_notification__contents__content__arrow_right
          = fa_icon "chevron-right", class: ".n_notification__contents__content__arrow_right__icon"
      %li.n_notification__contents__content
        %img.n_notification__contents__content__m_icon{src:"https://static.mercdn.net/images/mercari_profile.png"}
        .n_notification__contents__content__body
          .n_notification__contents__content__body__text
            眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い眠い
            .n_time
              %time.n_time__t_icon
                = fa_icon "clock-o", class: "n_watch_icon"
              %span.n_time__time
                1時間前
        .n_notification__contents__content__arrow_right
          = fa_icon "chevron-right", class: ".n_notification__contents__content__arrow_right__icon"
      %li.n_notification__contents__content
        %img.n_notification__contents__content__m_icon{src:"https://static.mercdn.net/images/mercari_profile.png"}
        .n_notification__contents__content__body
          .n_notification__contents__content__body__text
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
            .n_time
              %time.n_time__t_icon
                = fa_icon "clock-o", class: "n_watch_icon"
              %span.n_time__time
                1時間前
        .n_notification__contents__content__arrow_right
          = fa_icon "chevron-right", class: ".n_notification__contents__content__arrow_right__icon"
      %li.n_notification__contents__content
        %img.n_notification__contents__content__m_icon{src:"https://static.mercdn.net/images/mercari_profile.png"}
        .n_notification__contents__content__body
          .n_notification__contents__content__body__text
            testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest
            .n_time
              %time.n_time__t_icon
                = fa_icon "clock-o", class: "n_watch_icon"
              %span.n_time__time
                1時間前
        .n_notification__contents__content__arrow_right
          = fa_icon "chevron-right", class: ".n_notification__contents__content__arrow_right__icon"
      %li.n_notification__contents__mypage_view_all
        = link_to "一覧を見る", "https://www.yahoo.co.jp/", class: "n_notification__contents__mypage_view_all__column"
  %section.n_negotiation_list
    %h2.n_negotiation_list__head
      購入した商品
    %ul.n_negotiation_list__tags
      %li.n_negotiation_list__tags__tag.line
        取引中
      %li.n_negotiation_list__tags__tag.color
        過去の取引
    .n_negotiation_list__tab_contents
      取引中の商品がありません
= render 'layouts/sell-btn'