
.n_side
  %nav.n_side_bar
    %ul.n_side_bar__mypage
      %li.n_side_bar__mypage__list.top
        = link_to "マイページ", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_toplink" 
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__ficon"
      %li.n_side_bar__mypage__list
        = link_to "お知らせ", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "やることリスト", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "いいね！一覧", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "出品する", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "出品した商品 - 出品中", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "出品した商品 - 取引中", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "出品した商品 - 売却済み", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "購入した商品 - 取引中", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "購入した商品 - 過去の取引", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "ニュース一覧", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "評価一覧", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "ガイド", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "お問い合わせ", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"

    %h3.n_side_bar__head
      メルペイ
    %ul.n_side_bar__mypage
      %li.n_side_bar__mypage__list
        = link_to "売上・振込申請", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "ポイント", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"

    %h3.n_side_bar__head
      設定
    %ul.n_side_bar__mypage
      %li.n_side_bar__mypage__list
        = link_to "プロフィール", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "発送元・お届け先住所変更", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "支払い方法", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "メール/パスワード", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "本人情報", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "電話番号の確認", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"
      %li.n_side_bar__mypage__list
        = link_to "ログアウト", "https://www.yahoo.co.jp/", class: "n_side_bar__mypage__list__side_link"
        = fa_icon "chevron-right", class: "n_side_bar__mypage__list__icon"