= render 'layouts/header'
- breadcrumb :selling_items, @user
= render "top_column"
= render 'layouts/flash'

.s_main
  .s_wrapper
    .s_left-side
      = render "mypage_sidebar"
    .s_right-side
      .s_content
        %section.n_negotiation_list
          %h2.n_negotiation_list__head
            出品した商品
          %ul.n_negotiation_list__tags
            %li.n_negotiation_list__tags__tag.line
              出品中
            %li.n_negotiation_list__tags__tag.color
              売却済み
          - if @items.length == 0
            .n_negotiation_list__tab_contents
              取引中の商品がありません
          - else
            - @items.each do |item|
              .selling-items
                = link_to item.name, seller_item_path(item), class: "selling-items__item"
                %br

= render 'layouts/footer'
= render 'layouts/sell-btn'