= render 'layouts/header'
= render "top_column"
.s_main
  .s_wrapper
    .s_left-side
      = render "mypage_sidebar"
    .s_right-side
      = render partial: 'mypage_main', locals: {user: @user}

= render 'layouts/footer'