-# = render partial: "layouts/header"
-# .n_user_mypage 
-#   .n_mypage_top_column
-#     = render partial: "top_column"
-#   .n_main
-#     = render partial: "mypage_sidebar"
 
-# = render partial: "layouts/footer"

= render 'layouts/header'
= render "top_column"
.s_main
  .s_wrapper
    .s_left-side
      = render "mypage_sidebar"
    .s_right-side
      = render 'mypage_main'

= render 'layouts/footer'