.k_su_single-container
  %header.k_su_header
    %h1.k_su_header__title
      = link_to root_path do
        %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3135490372", alt: "mercari", height: "49", width: "185"}

  %main.k_su_wrapper
    %section.k_su_section
      %h2.k_su_section__header
        新規会員登録

      .k_su_section__inner
        = link_to new1_registrations_path, class: "k_su_section__inner--mail-regi" do
          = fa_icon 'envelope', class: "k_su_icon"
          メールアドレスで登録する
        = link_to user_facebook_omniauth_authorize_path, class: "k_su_section__inner--facebook-regi" do
          = fa_icon 'facebook-square', class: "k_su_icon"
          Facebookで登録する
        = link_to user_google_oauth2_omniauth_authorize_path, class: "k_su_section__inner--google-regi" do
          = fa_icon 'google', class: "k_su_icon"
          Googleで登録する

  %footer.k_su_footer
    = render 'footer'