.k_su_single-container
  %header.k_su_header
    .k_su_header__inner
      %h1.k_su_header__inner--title
        = link_to root_path do
          %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?891577966", alt: "mercari", width: "185", height: "49"}

      .k_su_header__inner--pan
        .k_su_header__inner--pan-li.k_su_active 
          会員情報
          .k_su_progress-status.k_su_active-back
            .k_su_progress-status-after1
        .k_su_header__inner--pan-li
          電話番号認証
          .k_su_progress-status
            .k_su_progress-status-after2
        .k_su_header__inner--pan-li
          お届け先住所入力
          .k_su_progress-status
            .k_su_progress-status-after3
        .k_su_header__inner--pan-li
          支払い方法
          .k_su_progress-status
            .k_su_progress-status-after4
        .k_su_header__inner--pan-li
          完了
          .k_su_progress-status


  %main.k_su_wrapper1
    %section.k_su_section
      %h2.k_su_section__header
        会員情報入力
      = form_for(@user, url: create1_registrations_path) do |f|
        .k_su_section__inner
          .k_su_section__inner--form
            .k_su_section__inner--form-label
              ニックネーム
            .k_su_section__inner--form-span
              必須
            = f.text_field :nickname, class: "k_su_section__inner--form-input", placeholder: "例）メルカリ太郎"
            
          .k_su_section__inner--form2
            .k_su_section__inner--form2-label
              メールアドレス
            .k_su_section__inner--form2-span
              必須
            = f.email_field :email, class: "k_su_section__inner--form2-input", placeholder: "PC・携帯どちらでも可"
            
          .k_su_section__inner--form2
            .k_su_section__inner--form2-label
              パスワード
            .k_su_section__inner--form2-span
              必須
            = f.password_field :password, autocomplete: "new-password", class: "k_su_section__inner--form2-input", placeholder: "6文字以上"
            
          .k_su_section__inner--form2
            .k_su_section__inner--form2-label
              パスワード（確認）
            .k_su_section__inner--form2-span
              必須
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "k_su_section__inner--form2-input", placeholder: "6文字以上"
            
          .k_su_section__inner--form3
            .k_su_section__inner--form3-label
              本人確認
            .k_su_section__inner--form3-sentence
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。    
          
          .k_su_section__inner--form4
            .k_su_section__inner--form4-label
              お名前（全角）
            .k_su_section__inner--form4-span
              必須
            .k_su_section__inner--form4-input
              = f.text_field :lastname, class: "k_su_section__inner--form4-input-child", placeholder: "例) 山田"
              = f.text_field :firstname, class: "k_su_section__inner--form4-input-child", placeholder: "例) 彩"
              
          .k_su_section__inner--form4
            .k_su_section__inner--form4-label
              お名前カナ（全角）
            .k_su_section__inner--form4-span
              必須
            .k_su_section__inner--form4-input
              = f.text_field :lastname_kana, class: "k_su_section__inner--form4-input-child", placeholder: "例) ヤマダ"
              = f.text_field :firstname_kana, class: "k_su_section__inner--form4-input-child", placeholder: "例) アヤ"
            
          .k_su_section__inner--form5
            .k_su_section__inner--form5-label
              生年月日
            .k_su_section__inner--form5-span
              必須
            .k_su_section__inner--form5-input
              = f.date_field :birthday
              -# %input{class: "k_su_section__inner--form5-input-child", placeholder: "--"}
              -# %p.k_su_date 年
              -# %input{class: "k_su_section__inner--form5-input-child", placeholder: "--"}
              -# %p.k_su_date 月
              -# %input{class: "k_su_section__inner--form5-input-child", placeholder: "--"}
              -# %p.k_su_date 日
            .k_su_section__inner--form5-sentence
              %p ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
              
          .k_su_section__inner--form6
            .k_su_section__inner--form6-label
              %img{src: 'https://placehold.jp/300x74.png'}
            .k_su_section__inner--form6-span
              %p.k_su_section__inner--form6-span-p 「次へ進む」のボタンを押すことにより、
              = link_to '利用規約', '#', class: 'k_su_section__inner--form6-span-content'
              %p.k_su_section__inner--form6-span-p に同意したものとみなします
            .k_su_section__inner--form6-input
              = f.submit '次へ進む', class: 'k_su_section__inner--form6-input-btn'
            .k_su_section__inner--form6-sentence
              = link_to '本人情報の登録について＞', '#', class: 'k_su_section__inner--form6-sentence-content' 

  %footer.k_su_footer
    = render 'footer'