.s-box
  .s-container
    %h2
      .s-container__head 
        支払い方法
      
    .s-container__body
      %button.s-credit__delete-btn{type: "submit"}
        削除する
      %section
        .s-body__high
          %h3.s-body__high--font
            クレジットカード一覧
        %ul  
          %li    
            .s-body__middle
              %form.s-body__middle__credit
                = image_tag "#{@card_src}", width: '49', alt: @card_brand
                .s-credit__number
                  = "**** **** **** " + @card_information.last4
                .s-credit__expiration-date
                  = display_card_expiration_date(@card_information)

          .s-body__low
            =link_to "#", class: 's_link' do
              支払い方法について
              %i.s-body__low--right-icon
                = fa_icon 'chevron-right', class:'s-body__low--right-icon'