= render 'layouts/header'
- breadcrumb :credit
= render "users/top_column"

.s_main
  .s_wrapper
    .s_left-side
      = render "users/mypage_sidebar"
    .s_right-side-credit
      = render 'credit'

= render 'layouts/footer'
= render 'layouts/sell-btn'