.k_search
  .k_search__title
    %h3 詳細検索

  = search_form_for(@q, url: searches_detail_search_path) do |f|
    .k_search__group
      .k_search__group--label
        = fa_icon "search"
        %p キーワードを追加する
      = f.search_field :name_cont, class: "k_search__group--form", placeholder: "例）値下げ"

    .k_search__group
      .k_search__group--label
        = fa_icon "search"
        %p カテゴリーを選択する
      = f.collection_select :category_id_in, @categories, :id, :name, {include_blank: "---"}, {class: "k_search__group--form", id: "category_parent", name: "q[category_id_in][]" }
      .display_none
        %select.k_search__group--form#category_children{name: "q[category_id_in][]"}
      .k_search__category_group
      
    .k_search__group
      .k_search__group--label
        = fa_icon "search"
        %p ブランド名から探す
      = f.search_field :brand_name_cont, class: "k_search__group--form", placeholder: "例）シャネル"

    .k_search__group
      .k_search__group--label
        = fa_icon "search"
        %p 価格
      .k_search__group--forms
        = f.search_field :price_gteq, class: "k_search__group--form k_form-mini", placeholder: "¥ Min"
        %p 〜
        = f.search_field :price_lteq, class: "k_search__group--form k_form-mini", placeholder: "¥ Max"

    .k_search__group
      .k_search__group--label
        = fa_icon "search"
        %p 商品の状態
      .k_search__group--checkbox
        %label
          = f.check_box :condition_in, class: "k_condition-all k_checkbox"
          = 'すべて'
      .k_search__group--checkbox
        %label
          = f.check_box :condition_in, {multiple: true, class: "k_condition k_checkbox"}, '0', nil
          = '新品、未使用'
      .k_search__group--checkbox
        %label
          = f.check_box :condition_in, {multiple: true, class: "k_condition k_checkbox"}, '1', nil
          = '未使用に近い'
      .k_search__group--checkbox
        %label
          = f.check_box :condition_in, {multiple: true, class: "k_condition k_checkbox"}, '2', nil
          = '目立った傷や汚れなし'
      .k_search__group--checkbox
        %label
          = f.check_box :condition_in, {multiple: true, class: "k_condition k_checkbox"}, '3', nil
          = '送料込み(出品者負担)'
      .k_search__group--checkbox
        %label
          = f.check_box :condition_in, {multiple: true, class: "k_condition k_checkbox"}, '4', nil
          = 'やや傷や汚れあり'
      .k_search__group--checkbox
        %label
          = f.check_box :condition_in, {multiple: true, class: "k_condition k_checkbox"}, '5', nil
          = '傷や汚れあり'
      .k_search__group--checkbox
        %label
          = f.check_box :condition_in, {multiple: true, class: "k_condition k_checkbox"}, '6', nil
          = '全体的に状態が悪い'
      
    .k_search__group
      .k_search__group--label
        = fa_icon "search"
        %p 配送料の負担
      .k_search__group--checkbox
        %label
          = f.check_box :shipping_fee_in, class: "k_shipping_fee-all k_checkbox"
          = 'すべて'
      .k_search__group--checkbox
        %label
          = f.check_box :shipping_fee_in, {multiple: true, class: "k_shipping_fee k_checkbox"}, '0', nil
          = '送料込み(出品者負担)'
      .k_search__group--checkbox
        %label
          = f.check_box :shipping_fee_in, {multiple: true, class: "k_shipping_fee k_checkbox"}, '1', nil
          = '着払い(購入者負担)'
      
    .k_search__group
      .k_search__group--label
        = fa_icon "search"
        %p 販売状況
      .k_search__group--checkbox
        %label
          = f.check_box :status_in, class: "k_status-all k_checkbox"
          = 'すべて'
      .k_search__group--checkbox
        %label
          = f.check_box :status_in, {multiple: true, class: "k_status k_checkbox"}, '0', nil
          = '出品中'
      .k_search__group--checkbox
        %label
          = f.check_box :status_in, {multiple: true, class: "k_status k_checkbox"}, '1', nil
          = '取引中'
      .k_search__group--checkbox
        %label
          = f.check_box :status_in, {multiple: true, class: "k_status k_checkbox"}, '3', nil
          = '売却済み'
    
    .k_search__btns
      = button_tag type: "button", class: "k_search__btn k_search__btn--clear" do
        クリア
      = f.submit "完了", class: "k_search__btn  k_search__btn--red"