.o_topitems-box__content
  .o_topitems
    - @items.each do |item| 
      .o_topitem
        = link_to "http://localhost:3000/items/#{item.id}" do
          -item.images.each do |image|
            =image_tag image.image.to_s , height: "213px" , width: "213px"
          .o_topitem__body
            .o_topitem__body--title
              = item.name
            .o_topitem__body--bottom
              .o_topitem__body--bottom--price
                = item.price
              .o_topitem__body--bottom--like
                = fa_icon 'heart', class: "o_icon-heart"
                45
.o_topitems-box__view-all
  = link_to "すべての商品を見る", "#"