.o_items-boxes
  .o_items-box
    = link_to "#" do
      %h3.o_items-box__title
        レディース 新着アイテム
    .o_items-box__content
      .o_items
        .o_item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_item__body
              .o_item__body--title
                美品COACH
              .o_item__body--bottom
                .o_item__body--bottom--price
                  ¥43,500
                .o_item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
        .o_item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_item__body
              .o_item__body--title
                美品COACH
              .o_item__body--bottom
                .o_item__body--bottom--price
                  ¥ 43,500
                .o_item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
        .o_item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_item__body
              .o_item__body--title
                美品COACH
              .o_item__body--bottom
                .o_item__body--bottom--price
                  ¥ 43,500
                .o_item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
        .o_item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_item__body
              .o_item__body--title
                美品COACH
              .o_item__body--bottom
                .o_item__body--bottom--price
                  ¥ 43,500
                .o_item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
      %h3.o_items-box__view-all
        = link_to "すべての商品を見る", "#"
          