- if user_signed_in?
  - if likes.find_by(user_id: current_user.id)
    = link_to item_likes_path(item), method: :delete, class: "o_item__sub--left-btn o_item__sub--left-btn--red", id: "like-button", remote: true do
      = fa_icon 'heart', class: 'k_like__icon--red'
      %span.k_like__sentence--red 
        いいね!
      %span.k_like__quantity--red
        = likes.length
  - else
    = link_to item_likes_path(item), method: :post, class: "o_item__sub--left-btn", id: "like-button", remote: true do
      = fa_icon 'heart'
      %span.k_like__sentence 
        いいね!
      %span.k_like__quantity
        = likes.length
-else 
  = link_to new_user_session_path, class: "o_item__sub--left-btn" do
    = fa_icon 'heart'
    %span.k_like__sentence 
      いいね!
    %span.k_like__quantity
      = likes.length