.o_white
  .o_top-image
    %img{src: "https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?891577966", height: "300px"}
  .o_pickup-container
    %h2.o_pickup-head
      ピックアップカテゴリー
    .o_items-box
      %a{href: "#"}
        %h3.o_items-box__title
          レディース 新着アイテム
      .o_items-box__content
        .o_items
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
        %h3.o_items-box__view-all
          %a{href: "#"}
            すべての商品を見る
      .o_items-box
      %a{href: "#"}
        %h3.o_items-box__title
          レディース 新着アイテム
      .o_items-box__content
        .o_items
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
        %h3.o_items-box__view-all
          %a{href: "#"}
            すべての商品を見る
      .o_items-box
      %a{href: "#"}
        %h3.o_items-box__title
          レディース 新着アイテム
      .o_items-box__content
        .o_items
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
        %h3.o_items-box__view-all
          %a{href: "#"}
            すべての商品を見る
      .o_items-box
      %a{href: "#"}
        %h3.o_items-box__title
          レディース 新着アイテム
      .o_items-box__content
        .o_items
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
        %h3.o_items-box__view-all
          %a{href: "#"}
            すべての商品を見る
    .o_pickup-container
    %h2.o_pickup-head
      ピックアップカテゴリー
    .o_items-box
      %a{href: "#"}
        %h3.o_items-box__title
          レディース 新着アイテム
      .o_items-box__content
        .o_items
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
        %h3.o_items-box__view-all
          %a{href: "#"}
            すべての商品を見る
      .o_items-box
      %a{href: "#"}
        %h3.o_items-box__title
          レディース 新着アイテム
      .o_items-box__content
        .o_items
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
        %h3.o_items-box__view-all
          %a{href: "#"}
            すべての商品を見る
      .o_items-box
      %a{href: "#"}
        %h3.o_items-box__title
          レディース 新着アイテム
      .o_items-box__content
        .o_items
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
        %h3.o_items-box__view-all
          %a{href: "#"}
            すべての商品を見る
      .o_items-box
      %a{href: "#"}
        %h3.o_items-box__title
          レディース 新着アイテム
      .o_items-box__content
        .o_items
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
          .o_item
            %a{href: "#"}
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥ 43,500
                  .o_item__body--bottom--like
                    = fa_icon 'heart', class: "o_icon-heart"
                    45
        %h3.o_items-box__view-all
          %a{href: "#"}
            すべての商品を見る