.o_white
  .o_top-image
    %img{src: "https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?891577966", height: "300px"}
  .o_pickup-container
    %h2.o_pickup-head
      ピックアップカテゴリー
      = render 'item'
      = render 'item'
      = render 'item'
      = render 'item'
  .o_pickup-container
    %h2.o_pickup-head
      ピックアップブランド
      = render 'item'
      = render 'item'
      = render 'item'
      = render 'item'
