= render 'layouts/header'
- breadcrumb :selling_items_edit, @item
= render 'users/top_column'
= render 'layouts/flash'
.o_detail-container
  .o_detail-field
    .o_item
      %h1 
        = @item.name
      .o_item__main
        .o_item__main--image
          = image_tag @image.image.to_s, size: "300x300"
          - if @item.status == "取引中"
            .o_image-soldbadge
          .o_image-sub
            - @images.each do |image|
              = image_tag image.image.to_s, size: "60x60"
        %table.o_item__main--table
          %tbody
            %tr
              %th 
                出品者
              %td
                = link_to @user.nickname, "#"
                .o_user-evaluations
                  .evaluation
                    = fa_icon 'smile-o', class: "o_smile"
                    %span 100
                  .evaluation
                    = fa_icon 'meh-o', class: "o_meh"
                    %span 50
                  .evaluation
                    = fa_icon 'frown-o', class: "o_frown"
                    %span 1
            %tr
              %th カテゴリー
              %td
                .td-category
                  = link_to @category.root.name, "#"
                .td-category
                  = link_to "#" do
                    = fa_icon 'chevron-right'
                    = @category.parent.name
                .td-category
                  = link_to "#" do
                    = fa_icon 'chevron-right'
                    = @category.name
            %tr
              %th ブランド
              %td
                = link_to @brand.name if @item.brand_id 
            %tr
              %th 商品の状態
              %td
                = @item.condition
            %tr
              %th 配送料の負担
              %td
                = @item.shipping_fee
            %tr
              %th 配送の方法
              %td
                = @item.shipping_method
            %tr
              %th 配送元地域
              %td
                = link_to @item.prefecture_name, "#"
            %tr
              %th 発送日の目安
              %td
                = @item.shipping_date
      .o_item__price
        %span.price-main
          ¥
          = @item.price.to_s(:delimited)
        %span.price-tax
          (税込)
        %span.price-fee
        - if @item.shipping_fee == "送料込み(出品者負担)"
          送料込み
        - else
          着払い
      .o_item__description
        %p
          = simple_format(@item.description)
      
    .o_item__seller
      = link_to "商品の編集", edit_item_path(@item), class: "o_item__editbtn"
      %p or
      = link_to "出品を一旦停止する", "#", class: "o_item__editbtn--gray"
      .t_delete 
        この商品を削除する  
      .t_overlay
      .t_modalWindow
        .t_modalWindow__content
          %p
          %span 確認 
          %p 削除すると二度と復活できません。
          %p 削除する代わりに停止することもできます。
          %br
          %p 本当に削除しますか？
        .t_modalWindow__buttons
          .t_modalWindow__buttons__btn--cxl
            キャンセル
          = link_to "削除する",item_path(@item), method: :delete, class: "t_modalWindow__buttons__btn"

= render 'layouts/footer'
