= render 'layouts/header'
- breadcrumb :detail, @item
= render 'users/top_column'
.o_detail-container
  .o_detail-field
    .o_item
      %h1 
        = @item.name
      .o_item__main
        .o_item__main--image
          .o_image-main
            = image_tag @image.image.to_s, size: "300x300"
          .o_image-sub
            - @images.each do |image|
              = image_tag image.image.to_s, size: "60x60"
        %table.o_item__main--table
          %tbody
            %tr
              %th 
                出品者
              %td
                = link_to @user.nickname, "#"
                .o_user-evaluations
                  .evaluation
                    = fa_icon 'smile-o', class: "o_smile"
                    %span 100
                  .evaluation
                    = fa_icon 'meh-o', class: "o_meh"
                    %span 50
                  .evaluation
                    = fa_icon 'frown-o', class: "o_frown"
                    %span 1
            %tr
              %th カテゴリー
              %td
                .td-category
                  = link_to "メンズ", "#"
                .td-category
                  = link_to "#" do
                    = fa_icon 'chevron-right'
                    アクセサリー
                .td-category
                  = link_to "#" do
                    = fa_icon 'chevron-right'
                    ネックレス
            %tr
              %th ブランド
              %td
                = link_to "ルイ ヴィトン", "#"
            %tr
              %th 商品の状態
              %td
                = @item.condition
            %tr
              %th 配送料の負担
              %td
                =@item.shipping_fee
            %tr
              %th 配送の方法
              %td 普通郵便(定形、定形外)
            %tr
              %th 配送元地域
              %td
                = link_to @item.prefecture_name, "#"
            %tr
              %th 発送日の目安
              %td
                = @item.shipping_date
      .o_item__price
        %span.price-main
          ¥
          = @item.price.to_s(:delimited)
        %span.price-tax
          (税込)
        %span.price-fee
          送料込み
      .o_item__baloon
        .o_item__baloon-text
          売上金¥2,285円をお持ちです
      = link_to "購入画面に進む", new_item_purchase_path(@item.id), class: "o_item__buybtn"
      .o_item__description
        %p
          = @item.description
      .o_item__sub
        .o_item__sub--left
          .k_item__sub--left-btns{class: "k_item__sub--left-btns-#{@item.id}"}
            = render partial: 'items/like', locals: {item: @item, likes: @likes}
          .k_item__sub--left-btns
            = link_to "#", class: "o_item__sub--left-btn" do
              = fa_icon 'flag'
              %span 不適切な商品の報告
        .o_item__sub--right
          = link_to "#" do
            = fa_icon 'lock'
            %span あんしん・あんぜんへの取り組み
    
    %ul.o_item__nav
      %li
        - if @item.prev.present?
          = link_to item_path(@item.prev.id) do
            = fa_icon 'chevron-left'
            = @item.prev.name
      %li
        - if @item.next.present?
          = link_to item_path(@item.next.id) do
            = @item.next.name
            = fa_icon 'chevron-right'

    .o_social_box
      %ul
        = link_to "#" do
          %li.o_icon.o_facebook
            = fa_icon 'facebook-square'
        = link_to "#" do
          %li.o_icon.o_twitter
            = fa_icon 'twitter'
        = link_to "#" do
          %li.o_icon.o_pinterest
            = fa_icon 'pinterest'

    .o_user
      %h2
        = link_to "ニックンさんのその他の出品", "#"
      .o_user-items
        .o_user-item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_user-item__body
              .o_user-item__body--title
                美品COACH
              .o_user-item__body--bottom
                .o_user-item__body--bottom--price
                  ¥43,500
                .o_user-item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
        .o_user-item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_user-item__body
              .o_user-item__body--title
                美品COACH
              .o_user-item__body--bottom
                .o_user-item__body--bottom--price
                  ¥43,500
                .o_user-item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
        .o_user-item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_user-item__body
              .o_user-item__body--title
                美品COACH
              .o_user-item__body--bottom
                .o_user-item__body--bottom--price
                  ¥43,500
                .o_user-item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
      .o_user-items
        .o_user-item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_user-item__body
              .o_user-item__body--title
                美品COACH
              .o_user-item__body--bottom
                .o_user-item__body--bottom--price
                  ¥43,500
                .o_user-item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
        .o_user-item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_user-item__body
              .o_user-item__body--title
                美品COACH
              .o_user-item__body--bottom
                .o_user-item__body--bottom--price
                  ¥43,500
                .o_user-item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
        .o_user-item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_user-item__body
              .o_user-item__body--title
                美品COACH
              .o_user-item__body--bottom
                .o_user-item__body--bottom--price
                  ¥43,500
                .o_user-item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
    .o_user
      %h2
        = link_to "ルイ ヴィトンのネックレス その他の商品", "#"
      .o_user-items
        .o_user-item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_user-item__body
              .o_user-item__body--title
                美品COACH
              .o_user-item__body--bottom
                .o_user-item__body--bottom--price
                  ¥43,500
                .o_user-item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
        .o_user-item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_user-item__body
              .o_user-item__body--title
                美品COACH
              .o_user-item__body--bottom
                .o_user-item__body--bottom--price
                  ¥43,500
                .o_user-item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
        .o_user-item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_user-item__body
              .o_user-item__body--title
                美品COACH
              .o_user-item__body--bottom
                .o_user-item__body--bottom--price
                  ¥43,500
                .o_user-item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
      .o_user-items
        .o_user-item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_user-item__body
              .o_user-item__body--title
                美品COACH
              .o_user-item__body--bottom
                .o_user-item__body--bottom--price
                  ¥43,500
                .o_user-item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
        .o_user-item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_user-item__body
              .o_user-item__body--title
                美品COACH
              .o_user-item__body--bottom
                .o_user-item__body--bottom--price
                  ¥43,500
                .o_user-item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
        .o_user-item
          = link_to "#" do
            = image_tag("https://placehold.jp/200x200.png")
            .o_user-item__body
              .o_user-item__body--title
                美品COACH
              .o_user-item__body--bottom
                .o_user-item__body--bottom--price
                  ¥43,500
                .o_user-item__body--bottom--like
                  = fa_icon 'heart', class: "o_icon-heart"
                  45
= render 'layouts/footer'
