.header
  .header-top
    %h1
      = link_to root_path do
        %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3135490372", width: "150px"}
    .fuzzy_search
      = search_form_for(@q, url: searches_fuzzy_search_path) do |f|
        = f.label class: "fuzzy_search__label" do
          = fa_icon 'search', class: "fuzzy_search__label--icon"
          = f.submit class: "fuzzy_search__label--btn"
        = f.search_field :name_cont, class: "fuzzy_search__field", placeholder: "何かお探しですか？"
  .header-bottom
    .header-bottom__left
      %ul
        %li
          %h2
            = link_to "#" do
              = fa_icon 'list-ul', class: "o_icon-red"
              %span カテゴリーから探す
        %li
          %h2
            = link_to "#" do
              = fa_icon 'tag', class: "o_icon-red"
              %span ブランドから探す

    - if user_signed_in?
      .header-bottom__right
        %ul
          %li
            = link_to "#" do
              = fa_icon 'heart', class: "o_icon-gray"
              %span いいね一覧
          %li
            = link_to "#" do
              = fa_icon 'bell', class: "o_icon-gray"
              %span お知らせ
          %li
            = link_to "#" do
              = fa_icon 'check', class: "o_icon-gray"
              %span やることリスト
          %li
            = link_to user_path(current_user), class: "o_link-mypage" do
              .header-bottom__right--image 
                - if current_user.icon_image.present?
                  = image_tag current_user.icon_image.to_s, width: "32px", height: "32px"
                - else
                  = image_tag("https://static.mercdn.net/images/member_photo_noimage_thumb.png", width: "32px", height: "32px")
              %span マイページ
    - else
      .header-bottom__right
        %ul
          %li
            = link_to "新規会員登録", new_registration_path, class: "o_btn o_registration"
          %li
            = link_to "ログイン", new_user_session_path, class: "o_btn o_login"