.header
  .header-top
    %h1
      = link_to root_path do
        %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3135490372", width: "150px"}
    %form
      %input{type: "text", placeholder: "何かお探しですか？"}
      = link_to "#" do
        = fa_icon 'search', class: "o_icon-search"
  .header-bottom
    .header-bottom__left
      %ul
        %li
          %h2
            = link_to "#" do
              = fa_icon 'list-ul', class: "o_icon-red"
              %span カテゴリーから探す
        %li
          %h2
            = link_to "#" do
              = fa_icon 'tag', class: "o_icon-red"
              %span ブランドから探す

    - if user_signed_in?
      .header-bottom__right
        %ul
          %li
            = link_to "#" do
              = fa_icon 'heart', class: "o_icon-gray"
              %span いいね一覧
          %li
            = link_to "#" do
              = fa_icon 'bell', class: "o_icon-gray"
              %span お知らせ
          %li
            = link_to "#" do
              = fa_icon 'check', class: "o_icon-gray"
              %span やることリスト
          %li
            = link_to "#", class: "o_link-mypage" do
              .header-bottom__right--image 
                %img{src: "https://placehold.jp/30x30.png"}
              %span マイページ
    - else
      .header-bottom__right
        %ul
          %li
            = link_to "新規会員登録", new_registration_path, class: "o_btn o_registration"
          %li
            = link_to "ログイン", new_user_session_path, class: "o_btn o_login"