- if user_signed_in?
  - if current_user.icon_image.present?
    .tryon-btn.start
      .tryon-btn-text 試着
      = fa_icon 'user'
    .tryon-btn.finish.display_none
      .tryon-btn-text 試着終了
      = fa_icon 'user'
  -else
    = link_to edit_registration_path(current_user) do
      .tryon-btn.start
        .tryon-btn-text 試着
        = fa_icon 'user'
-else    
  = link_to new_user_session_path do
    .tryon-btn.start
      .tryon-btn-text 試着
      = fa_icon 'user'