!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample55c
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = include_gon
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag('favicon.ico')
    %link{rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"}
    %link{rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"}
    %link{rel: "stylesheet", href: "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"}

  %body
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = yield
    %script{type: "text/javascript", src: "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"}